<!DOCTYPE html>
<html>
<head>
    <title>Flask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>

<body>
    <h1 style="color: white">Usuarios</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Gerenciamento</th>
            </tr>
        </thead>
        <tbody>
    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>
            <form method="POST" action="{{ url_for('deletar_usuario', id=row[0]) }}">
                <input type="hidden" name="_method" value="DELETE">
                 <div class="btn-group" role="group" aria-label="Opções de usuário">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                        <a href="{{ url_for('editar_usuario', id=row[0]) }}" class="btn btn-primary">Editar</a>
                </div>
            </form>

        </td>

    </tr>
    {% endfor %}
</tbody>
    </table>

<a href="{{ url_for('adicionar_usuario') }}" class="btn btn-primary">Criar Usuário</a>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>